:root{
    --white: #FFF;
    --light: #EEE;
    --blue-1: #07F;
    --blue-2: #0AF;
    --grey: #222;
    --dark: #111;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    transition: 400ms;
}
.body-dark{
    background-color: var(--grey);
}

label{
    position: fixed;
    top: 3vh;
    left: 6vw;
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: var(--dark);
    font-size: 2.5vh;
    cursor: pointer;
}
.label-dark{
    color: var(--light);
}
input[type='checkbox']{
    display: none;
}
label > div{
    min-width: 8vh;
    width: 18vw;
    max-width: 100px;
    height: 4vh;
    border-radius: 24px;
    background-color: var(--dark);
}
.toggle-container-dark{
    background-color: var(--white);
}
label div div{
    width: 3.3vh;
    height: 3.3vh;
    position: relative;
    top: 0.35vh;
    left: 0.7vh;
    border-radius: 50%;
    background-color: var(--light);
    transition: 200ms;
}
.toggle-button-dark{
    left: calc(100% - 4vh);
    background-color: var(--grey);
}

#calc{
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
}
.calc-dark{
    background-color: var(--dark) !important;
}

#calc div:last-child{
    display: none;
}

button{
    width: 100px;
    height: 100px;
}

#del{
    background-image: url("del.png");
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (orientation: landscape)
{
    label > div{
        width: 5vw;
    }

    #calc{
        width: calc(0.58 * 90vh);
        height: 90vh;
        border-radius: 12px;
    }
}

@media screen and (orientation: landscape) and (min-height: 480px)
{
    #calc{
        width: calc(0.58 * 80vh);
        height: 80vh;
    }
}