:root{
    --white: #FFF;
    --light: #EEE;
    --blue: #07F;
    --grey: #222;
    --dark: #111;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: 400ms;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
}
.body-dark{
    background-color: var(--grey);
}

label{
    position: fixed;
    top: 3vh;
    left: 6vw;
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: var(--dark);
    font-size: 2.5vh;
    cursor: pointer;
}
.label-dark{
    color: var(--light);
}
input[type='checkbox']{
    display: none;
}
label > div{
    min-width: 8vh;
    width: 18vw;
    max-width: 100px;
    height: 4vh;
    border-radius: 24px;
    background-color: var(--dark);
}
.toggle-container-dark{
    background-color: var(--white);
}
label div div{
    width: 3.3vh;
    height: 3.3vh;
    position: relative;
    top: 0.35vh;
    left: 0.7vh;
    border-radius: 50%;
    background-color: var(--light);
}
.toggle-button-dark{
    left: calc(100% - 4vh);
    background-color: var(--grey);
}

#calc{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--white);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}
.calc-dark{
    background-color: var(--dark) !important;
}

#calc span{
    width: 90%;
    margin-left: 5%;
    display: block;
    text-align: end;
    overflow-y: hidden;
}
#calc span:first-child{
    margin-top: 10%;
    padding: 0.5vh 0;
    color: var(--grey);
    font-size: 4vh;
}
.calc-span-first-dark{
    color: var(--white) !important;
}
#calc span:last-child{
    padding: 1.5vh 0;
    color: var(--blue);
    font-size: 5.6vh;
    font-weight: 600;
}
.calc-span-last-dark{
    color: var(--blue) !important;
}

#calc div:last-child{
    padding: 0 3%;
    display: flex;
    flex-wrap: wrap;
}

button{
    width: 25%;
    aspect-ratio: 1;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    font-size: 3.8vh;
    font-weight: 700;
    cursor: pointer;
    transform: scale(0.9);
}
button:hover{
    background-color: var(--light);
}
.button{
    color: var(--white);
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.4);
}
.button:hover{
    background-color: var(--grey) !important;
}
button:last-child{
    width: 50%;
    aspect-ratio: 2;
}
.primary{
    color: var(--blue);
}
#del{
    background-image: url("images/del-dark.png");
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}
.del-dark{
    background-image: url("images/del-light.png") !important;
}

::-webkit-scrollbar{
    display: none;
}

@media screen and (orientation: landscape)
{
    label > div{
        width: 5vw;
    }

    #calc{
        width: calc(0.58 * 90vh);
        height: 90vh;
        border-radius: 12px;
    }
}

@media screen and (orientation: landscape) and (min-height: 480px)
{
    #calc{
        width: calc(0.58 * 80vh);
        height: 80vh;
    }
}